*
!.gitignore
!wp-content/
!wp-content/themes/
!wp-content/themes/*
!wp-content/themes/antonlihn
!wp-content/themes/antonlihn/*
!wp-content/themes/antonlihn/sass/
!wp-content/themes/antonlihn/sass/*
!wp-content/themes/antonlihn/images/
!wp-content/themes/antonlihn/images/*
!wp-content/themes/antonlihn/css/
!wp-content/themes/antonlihn/css/*
!wp-content/themes/antonlihn/js/
!wp-content/themes/antonlihn/js/*


