/* line 4, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0; }

/* line 18, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 21, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" ""; }
  /* line 67, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

/* line 22, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 23, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 24, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none; }

/* line 18, ../sass/screen.scss */
body {
  background: #eee;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300; }

/* line 28, ../sass/screen.scss */
.content hr {
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 30px 0; }
/* line 36, ../sass/screen.scss */
.content em {
  font-style: italic; }
/* line 38, ../sass/screen.scss */
.content img {
  border: 2px solid #ccc; }
/* line 42, ../sass/screen.scss */
.content img.alignleft {
  float: left;
  margin: 0 20px 20px 0; }
/* line 47, ../sass/screen.scss */
.content img.alignright {
  float: right;
  margin: 0 0 20px 20px; }
/* line 52, ../sass/screen.scss */
.content img.aligncenter {
  display: block;
  margin: 0 auto; }
/* line 57, ../sass/screen.scss */
.content a {
  color: #666; }
  /* line 59, ../sass/screen.scss */
  .content a:hover {
    color: #999; }
/* line 62, ../sass/screen.scss */
.content blockquote {
  -moz-border-radius-topright: 1px;
  -webkit-border-top-right-radius: 1px;
  border-top-right-radius: 1px;
  -moz-border-radius-bottomright: 1px;
  -webkit-border-bottom-right-radius: 1px;
  border-bottom-right-radius: 1px;
  background: #f8f8f8;
  border-left: 3px solid #ccc;
  font-style: italic;
  margin-bottom: 1.1em;
  padding: 10px 0 10px 20px; }
  /* line 70, ../sass/screen.scss */
  .content blockquote p {
    margin: 0; }
/* line 73, ../sass/screen.scss */
.content p, .content ul {
  line-height: 1.5em;
  margin-bottom: 1.1em; }
/* line 78, ../sass/screen.scss */
.content ul {
  list-style-position: inside;
  padding-left: 2em;
  text-indent: -1em; }
/* line 84, ../sass/screen.scss */
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  font-weight: bold; }
/* line 89, ../sass/screen.scss */
.content h1 {
  font-size: 2.5em;
  margin-bottom: 0.2em; }
/* line 94, ../sass/screen.scss */
.content h2 {
  font-size: 2em;
  margin-bottom: 0.1em; }
/* line 99, ../sass/screen.scss */
.content h3 {
  font-size: 1.8em;
  margin-bottom: 0.1em; }
/* line 104, ../sass/screen.scss */
.content h4 {
  font-size: 1.5em; }
/* line 108, ../sass/screen.scss */
.content h5 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.1em; }
/* line 114, ../sass/screen.scss */
.content h6 {
  color: #555;
  font-size: 0.9em;
  margin-bottom: 0.1em;
  text-transform: uppercase;
  text-decoration: underline; }

/* line 123, ../sass/screen.scss */
.page-content {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  margin-right: 0;
  width: 1000px;
  background: #fff;
  border: 1px solid #999;
  padding: 30px; }
  /* line 147, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .page-content {
    overflow-x: hidden; }

/* line 133, ../sass/screen.scss */
.container {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1; }

/* line 137, ../sass/screen.scss */
.page-header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 1000px;
  margin-bottom: 10px;
  padding-top: 20px; }
  /* line 147, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .page-header {
    overflow-x: hidden; }

/* line 143, ../sass/screen.scss */
.page-logo {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 388px;
  font-family: "Georgia", serif;
  font-size: 3em; }
  /* line 147, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .page-logo {
    overflow-x: hidden; }
  /* line 148, ../sass/screen.scss */
  .page-logo a {
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
    color: #000;
    text-decoration: none; }
    /* line 153, ../sass/screen.scss */
    .page-logo a:hover {
      color: #555; }

/* line 157, ../sass/screen.scss */
.phone-number {
  display: inline;
  float: left;
  margin-right: 0;
  width: 592px;
  font-size: 2em;
  padding-top: 13px;
  text-align: right; }
  /* line 147, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .phone-number {
    overflow-x: hidden; }

/* line 164, ../sass/screen.scss */
.content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 1000px;
  margin-bottom: 10px; }
  /* line 147, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .content {
    overflow-x: hidden; }

/* line 169, ../sass/screen.scss */
.primary-navigation {
  display: inline;
  float: left;
  margin-right: 0;
  width: 1000px; }
  /* line 147, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .primary-navigation {
    overflow-x: hidden; }
  /* line 172, ../sass/screen.scss */
  .primary-navigation .navigation-menu {
    background: #464646;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    display: inline;
    float: left;
    margin-right: 0;
    width: 1000px;
    list-style-type: none;
    overflow: hidden; }
    /* line 147, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
    * html .primary-navigation .navigation-menu {
      overflow-x: hidden; }
    /* line 182, ../sass/screen.scss */
    .primary-navigation .navigation-menu li {
      float: left;
      margin: 0; }
      /* line 186, ../sass/screen.scss */
      .primary-navigation .navigation-menu li a {
        border-right: 1px solid #555;
        color: #fff;
        display: block;
        font-family: "Helvetica Neue", "Helvetica", "Arial", serif;
        font-weight: bold;
        font-size: 0.8em;
        padding: 10px 15px;
        text-decoration: none; }
      /* line 197, ../sass/screen.scss */
      .primary-navigation .navigation-menu li.current-menu-item a, .primary-navigation .navigation-menu li a:hover {
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #111111));
        background: -webkit-linear-gradient(top, #444444, #111111);
        background: -moz-linear-gradient(top, #444444, #111111);
        background: -o-linear-gradient(top, #444444, #111111);
        background: linear-gradient(top, #444444, #111111); }

/* line 206, ../sass/screen.scss */
.home-container {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  margin-right: 0;
  width: 1000px;
  border: 1px solid #666;
  min-height: 666px;
  position: relative; }
  /* line 147, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .home-container {
    overflow-x: hidden; }
  /* line 216, ../sass/screen.scss */
  .home-container h1, .home-container h2, .home-container h3, .home-container h4, .home-container h5, .home-container h6 {
    margin-bottom: 0.3em; }

/* line 221, ../sass/screen.scss */
.home-text {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  margin-right: 0;
  width: 388px;
  background: url("../img/transparent.png");
  color: #fff;
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: 20px; }
  /* line 147, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html .home-text {
    overflow-x: hidden; }

/* line 237, ../sass/screen.scss */
.home-text.left {
  left: 20px;
  right: initial; }

/* line 242, ../sass/screen.scss */
.home-text.full {
  left: 20px;
  right: initial;
  width: 960px; }

/* line 248, ../sass/screen.scss */
.page-footer {
  color: #999;
  font-size: 0.8em;
  margin-bottom: 20px; }
