// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// Import the necessary CSS3 properties
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing"; 
@import "compass/css3/transition";

body {
  //background-image: url('../img/bgnoise.png');
  background: #eee;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.content {

  hr {
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 30px 0;
  }

  em { font-style: italic; }

  img {
    border: 2px solid #ccc;
  }

  img.alignleft {
    float: left;
    margin: 0 20px 20px 0;
  }

  img.alignright {
    float: right;
    margin: 0 0 20px 20px;
  }

  img.aligncenter {
    display: block;
    margin: 0 auto;
  }

  a {
    color: #666;
    &:hover { color: #999; }
  }

  blockquote {
    @include border-right-radius(1px);
    background: #f8f8f8;
    border-left: 3px solid #ccc;
    font-style: italic;
    margin-bottom: 1.1em;
    padding: 10px 0 10px 20px;

    p { margin: 0; }
  }

  p, ul {
    line-height: 1.5em;
    margin-bottom: 1.1em;
  }

  ul {
    list-style-position: inside;
    padding-left: 2em;
    text-indent: -1em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    //margin-top: 1em;
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 0.2em;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 0.1em;
  }

  h3 {
    font-size: 1.8em;
    margin-bottom: 0.1em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.1em;
  }

  h6 {
    color: #555;
    font-size: 0.9em;
    margin-bottom: 0.1em;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.page-content {
  @include border-radius(2px);
  @include box-sizing(border-box);
  @include column(10, true);
  
  background: #fff;
  border: 1px solid #999;
  padding: 30px;
}

.container {
  @include container;
}

.page-header {
  @include column(10, true);
  margin-bottom: 10px;
  padding-top: 20px;
}

.page-logo {
  @include column(4);
  font-family: "Georgia", serif;
  font-size: 3em;

  a {
    @include single-transition(color, 0.1s, ease-in-out);
    color: #000;
    text-decoration: none;

    &:hover { color: #555; }
  }
}

.phone-number {
  @include column(6, true);
  font-size: 2em;
  padding-top: 13px;
  text-align: right;
}

.content {
  @include column(10, true);
  margin-bottom: 10px;
}

.primary-navigation {
  @include column(10, true);

  .navigation-menu {
    //@include background(linear-gradient(top, #555, #333));
    background: rgb(70, 70, 70);
    @include border-radius(2px);
    @include column(10, true);


    list-style-type: none;
    overflow: hidden;

    li {
      float: left;
      margin: 0;
      
      a {
        border-right: 1px solid #555;
        color: #fff;
        display: block;
        font-family: "Helvetica Neue", "Helvetica", "Arial", serif;
        font-weight: bold;
        font-size: 0.8em;
        padding: 10px 15px;
        text-decoration: none;
      }

      &.current-menu-item a, a:hover {
        // Fallback if ie8 or lower
        background: #444;
        @include background(linear-gradient(top, #444, #111));
      }
    }
  }
}

.home-container {
  @include border-radius(2px);
  @include box-sizing(border-box);
  @include column(10, true);

  border: 1px solid #666;
  //background: url("../img/ex.jpg") center center no-repeat #fff;
  min-height: 666px;
  position: relative;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.3em;
  }
}

.home-text {
  @include border-radius(2px);
  @include box-sizing(border-box);
  @include column(4, true);
  
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.home-text.left {
  left: 20px;
  right: initial;
}

.home-text.full {
  left: 20px;
  right: initial;
  width: span(8) - 2*$blueprint-grid-margin;
}

.page-footer {
  color: #999;
  font-size: 0.8em;
  margin-bottom: 20px;
}















